& .form-image-upload-container{
    position: relative;
    width: 100%;
    height: 300px;
    aspect-ratio: 16/9 !important;
    border: 2px dashed var(--outline-color);
    border-radius: 10px;
}

& .form-image-preview{
    z-index: 2 !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    display: none;
    z-index: 1;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

& .form-image-information{
    z-index: 1 !important;
    position: absolute;
    align-items: center;
    gap: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    & h5{
        color: var(--secondary-bg);
        font-family: var(--family);
        font-weight: 700;
    }

    & h6{
        font-family: var(--family);
    }
}

& .form-image-upload{
    z-index: 3 !important;
    position: absolute;
    opacity: 0;
    background-color: gray;
    aspect-ratio: 16/9;
    object-fit: contain;
    width: 100%;
    height: 100%;
    border: 1px solid gray;
    font-size: 0px;
    border-radius: 10px;
    display: flex;
    cursor: pointer;

    &::-webkit-file-upload-button{
        display: none;
    }

    &:hover{
        opacity: 0.1;
    }
}

& .form-child{
    display: flex;
    flex-direction: column;
    gap: 10px;

    &:has(.form-image-upload-container){
        width: 100%;
        align-self: center;
        text-align: center;
    }

    & input{
        border: 1px solid var(--outline-color) !important;
        outline: none;
    }
}
